dialog {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px; /* Increase the maximum width */
    width: 90%; /* Set the width to 90% of the viewport width */
    margin: auto; /* Center the dialog horizontally */
    background-color: transparent; /* Transparent background */
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Darken the backdrop */
}

body {
    margin: 0;
    font-family: 'Open Sans', Helvetica, Sans-Serif;
    background-image: url('https://i.pinimg.com/736x/c7/91/85/c791856fe7a09f83b165186f87d88212.jpg');
    background-repeat: repeat;

    background-size: auto; /* You can use 'cover' or 'contain' if you want to control the size */
}
body::before {
    content: "";
    position: fixed; /* Change to fixed to cover the entire viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none; /* Allows clicks to pass through */
}
.flex-container {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    position: relative; /* Ensure content is above the overlay */
    gap: 18px; /* Adds space between cards */
    z-index: 1; /* Ensure content is above the overlay */
    overflow-y: auto; /* Allow scrolling if content overflows */
    padding: 20px; /* Add padding to prevent content from touching the edges */
}
/* Adjust layout for smaller screens */
@media (max-height: 600px) {
    .flex-container {
        height: auto; /* Allow the container to grow with content */
        padding: 10px; /* Reduce padding for smaller screens */
    }
}
.flex-container > div {
    width: 350px; /* Width of each card */
}
.hstack {
    display: flex;
    gap: 20px; /* Adds space between elements */
    justify-content: center;
    flex-wrap: wrap; /* Allow content to wrap onto multiple lines */
}
.hspread {
    display: flex;
    gap: 20px; /* Adds space between elements */
    justify-content: space-evenly;
}

/* INPUT */
.textbox {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px; /* Adds space between buttons */
    /*Set font to Open Sans*/
    font-family: 'Open Sans', Helvetica, Sans-Serif;
}

/* RADIO BUTTONS */
/* Style the radio buttons */
.radio-button {
    appearance: none; /* Remove default styling */
    -webkit-appearance: none; /* Remove default styling for WebKit browsers */
    -moz-appearance: none; /* Remove default styling for Mozilla browsers */
    width: 20px;
    height: 20px;
    border: 2px solid #FFDE00;
    border-radius: 50%;
    background-color: #FFF;
    cursor: pointer;
    margin: 5px; /* Adds space between buttons */
    display: inline-block;
    vertical-align: middle;
}

.radio-button:checked {
    background-color: #FFDE00; /* Change background color when selected */
    border-color: #FFDE00; /* Change border color when selected */
}

.radio-label {
    margin-left: 5px;
    font-weight: bold;
    color: #F5F5F5;
    cursor: pointer;
}

.radio-container {
    display: inline-flex; /* Use inline-flex to fit content and align horizontally */
    align-items: center;
    padding: 10px; /* Add padding inside the container */
    border-radius: 10px; /* Rounded corners */
    background-color: #3336; /* Background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
}

/* BUTTONS */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FFDE00;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    margin: 5px; /* Adds space between buttons */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}
button:hover {
    background-color: #E6C200;
}
button:disabled {
    background-color: #ccc; /* Gray background for disabled buttons */
    color: #666; /* Darker text color for disabled buttons */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
}

/* SWITCH */
.switch-container {
    display: flex;
    align-items: center;
    background-color: #3336;
    padding: 10px;
    border-radius: 20px;
}
.switch-label {
    margin-left: 10px; /* Adjust the spacing as needed */
    color: #F5F5F5;
    font-weight: bold;
}
/* The switch - the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .1s;
transition: .1s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .1s;
transition: .1s;
}

input:checked + .slider {
background-color: #FFDE00;
}

input:focus + .slider {
box-shadow: 0 0 1px #E6C200;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

/* RANGE SLIDER */
.slidecontainer {
    display: flex;
    align-items: center;
    background-color: #3336;
    border-radius: 20px;
    padding: 10px;
    width: 100%; /* Make the container fill the width of its parent */
    box-sizing: border-box; /* Include padding in the element's total width */
}
.slide-label {
    margin-left: 10px; /* Adjust the spacing as needed */
    color: #F5F5F5;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.slidecontainer > input {
    width: 100%;
    -webkit-appearance: none; /* Remove default styling in WebKit browsers */
    appearance: none; /* Remove default styling */
    height: 10px; /* Set the height of the slider */
    background: #333; /* Secondary color for the track */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency */
    transition: opacity .2s; /* Transition effect when hovering */
}
.slidecontainer > input:hover {
    opacity: 1; /* Full opacity when hovering */
}
.slidecontainer > input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling in WebKit browsers */
    appearance: none; /* Remove default styling */
    width: 25px; /* Width of the thumb */
    height: 25px; /* Height of the thumb */
    background: #FFDE00; /* Primary color */
    cursor: pointer; /* Cursor style when hovering over the thumb */
    border-radius: 50%; /* Make the thumb round */
}
.slidecontainer > input::-moz-range-thumb {
    width: 25px; /* Width of the thumb */
    height: 25px; /* Height of the thumb */
    background: #FFDE00; /* Primary color */
    cursor: pointer; /* Cursor style when hovering over the thumb */
    border-radius: 50%; /* Make the thumb round */
}

/* CARD */
.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #367B2BE0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.67);
}
.card h2 {
    color: #F5F5F5;
    margin: 0 0 10px 0;
}